---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Block from "@/components/global/Block.astro";

import { getAllPosts } from "../../lib/cosmic";

import { marked } from "marked";

marked.use({
  pedantic: false,
  gfm: true,
});

export async function getStaticPaths() {
  const response = await getAllPosts();

  return response.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;

//convert the Markdown to html
const content = marked.parse(post.metadata.content);
---

<BaseLayout
  title={post.title}
  description={post.exerpt}
  robots="index, follow"
>
  <Block
    bgimage={post.metadata.cover_image.url},
    blockheadline={post.title},
    blockexcerpt={post.metadata.excerpt}
  />
  <section>
    <div class="tryit px-8 mx-auto md:px-12 lg:px-32 max-w-7xl pb-8">
      <Fragment set:html={content} />
    </div>
  </section>
</BaseLayout>

<style is:inline>
  p {
    margin-top: 2rem;
  }
  h1, h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  .tryit > * img {
    max-width: 40%;
    float: right;
    margin: 1%;
  }
</style>
